APP_NAME=
RESOURCE_GROUP=
LOCATION=
SERVICE_PLAN_SKU=S1

USE_PRIVATE_ENDPOINT=true

# JSON array of alert email recipients, e.g.:
# ALERT_EMAIL_RECEIVERS=[{"name":"mike","email_address":"you@example.com"}]
ALERT_EMAIL_RECEIVERS=[{"name":"mike","email_address":"mikeolivieri@microsoft.com"}]